<!DOCTYPE html>
<html>
<head>
	<title>Pupper or Doggo?</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>
<body>
	<div class="container-fluid">
		<div class="row header-row">
			<a href="/"><div class="col-xs-6 vote-button">Vote
			</div></a>
			<a href="/standings"><div class="col-xs-6 standings-button">Standings
			</div></a>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center header-wrapper">
				<h1>Pupper or Doggo?</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center picture-wrapper">
				<img src="/images/dog1.jpg" />
				<h4>Vote if you think this is a pupper or doggo.</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center button-wrapper">
				<button type="button">Pupper</button>
				<button type="button">Doggo</button>
			</div>
		</div>
</body>
</html>