<!DOCTYPE html>
<html>
<head>
	<title>Pupper or Doggo?</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>
<body>
	<div class="container-fluid">
		<div class="row header-row">
			<a href="/"><div class="col-xs-6 vote-button">Vote
			</div></a>
			<a href="/standings"><div class="col-xs-6 standings-button">Standings
			</div></a>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center header-wrapper">
				<h1>Pupper or Doggo Standings:</h1>
			</div>
		</div>
		<div class="row standings-wrapper">
			
		<% for(i=0; i<results.length; i++){ %>
			<div class="col-sm-4 col-xs-12 text-center">
				<img src="/images/<%= results[i].imageurl %>" />
				<div class="col-xs-12 standings-result">
					<div class="col-sm-6 col-xs-12 text-center">Pupper: <%= results[i].votepupper %></div><div class="col-sm-6 col-xs-12 text-center">Doggo: <%= results[i].votedoggo %></div>
				</div>
			</div>		
		<% } %>	
<!-- 			<div class="col-sm-3 col-xs-6 text-center">
				<img src="/images/dog2.jpg" />
				<div class="col-xs-12 standings-result">
					<div class="col-sm-6 col-xs-12 text-center">Pupper: ##</div><div class="col-sm-6 col-xs-12 text-center">Doggo: ##</div>
				</div>
			</div>
			<div class="col-sm-3 col-xs-6 text-center">
				<img src="/images/dog3.jpg" />
				<div class="col-xs-12 standings-result">
					<div class="col-sm-6 col-xs-12 text-center">Pupper: ##</div><div class="col-sm-6 col-xs-12 text-center">Doggo: ##</div>
				</div>
			</div>
			<div class="col-sm-3 col-xs-6 text-center">
				<img src="/images/dog4.jpg" />
				<div class="col-xs-12 standings-result">
					<div class="col-sm-6 col-xs-12 text-center">Pupper: ##</div><div class="col-sm-6 col-xs-12 text-center">Doggo: ##</div>
				</div>
			</div> -->
		</div>
</body>
</html>