<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>
<body>

	<form method="post" action="/formSubmit" enctype="multipart/form-data">
	<div class= "col-md-4 col-md-offset-2">
		<input type="file" name="imageToUpload" />
		<input type="submit" class="button" />
	</div>
	</form>

</body>
</html>