@import url("https://fonts.googleapis.com/css?family=Comfortaa|Open+Sans");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
/* line 19, ../../compass/sass/styles.scss */
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #B1CCC1;
}

/* line 24, ../../compass/sass/styles.scss */
.picture-wrapper {
  color: #3F476C;
}

/* line 28, ../../compass/sass/styles.scss */
.header-wrapper {
  font-family: 'Comfortaa', sans-serif;
  color: #3F476C;
}

/* line 34, ../../compass/sass/styles.scss */
.picture-wrapper img {
  border: 10px solid white;
  max-width: 90vw;
}

/* line 41, ../../compass/sass/styles.scss */
.button-wrapper button {
  background-color: #86615C;
  color: #FFEDDF;
  padding: 10px 30px;
  margin: 25px 50px;
  border: none;
  font-size: 20px;
}

/* line 52, ../../compass/sass/styles.scss */
.header-row a, .header-row a:hover, .header-row a:active, .header-row a:visited {
  color: #B1CCC1;
}

/* line 57, ../../compass/sass/styles.scss */
.vote-button, .standings-button {
  height: 80px;
  line-height: 60px;
  width: 50vw;
  background-color: white;
  font-size: 30px;
  text-align: center;
  color: #B1CCC1;
  border-top: 10px solid #B1CCC1;
  border-bottom: 10px solid #B1CCC1;
  border-left: 10px solid #B1CCC1;
}

/* line 70, ../../compass/sass/styles.scss */
.standings-button {
  border-right: 10px solid #B1CCC1;
}

/* line 75, ../../compass/sass/styles.scss */
.standings-wrapper img {
  max-width: 97%;
  border: 5px solid white;
}
/* line 79, ../../compass/sass/styles.scss */
.standings-wrapper .standings-result {
  margin-bottom: 20px;
}
